@{
    ViewData["Title"] = "Admin Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <title>Cafe Manager</title>
      <link rel="icon" href="img/logo.png" type="image/png">
      <link rel="stylesheet" href="~/css/custom.css" />
      <link rel="stylesheet" href="~/css/metisMenu.css">
      <link rel="stylesheet" href="~/css/style1.css" />
      <link rel="stylesheet" href="~/css/colors/default.css" id="colorSkinCSS">
   </head>
   <body class="crm_body_bg">
      <div class="container-fluid p-0">
         <div class="row justify-content-center">
            <div class="col-lg-12">
               <div class="white_box mb_30">
                  <div class="row justify-content-center">
                     <div class="col-lg-6">
                        <div class="modal-content cs_modal">
                           <div class="modal-header">
                              <h5 class="modal-title">Đăng nhập</h5>
                           </div>
                           <div class="modal-body">
                              <form method="post" action="">
                                 <div class>
                                    <input type="text" class="form-control" name="Email" placeholder="Nhập tài khoản">
                                    <small class="text-danger"></small>
                                 </div>
                                 <div class>
                                    <input type="password" class="form-control" name="Password" placeholder="Mật khẩu">
                                    <small class="text-danger"></small>
                                 </div>
                                 <div class>
                                    <p class="text-danger">@(ViewData["isLoginSuccess"] != null ? ViewData["isLoginSuccess"] : "")</p>
                                 </div>
                                 <button class="btn_1 full_width text-center">Đăng nhập</button>
                                 <div class="text-center">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#forgot_password" data-bs-dismiss="modal" class="pass_forget_btn">Quên mật khẩu?</a>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="~/js/site.js" asp-append-version="true"></script>
   </body>
</html>
