@{
    ViewData["Title"] = "Cafe";
}
<div>
    <div class=section-number><span>01</span></div>
    <div class=section-heading>
        <h1><span>Our Special</span></h1>
        <h2>Menu</h2>
    </div>
</div>
<div class=pricing-table>
    <div class=pricing-detail>
        <figure>
            <div class=image><img alt="" src="images/coffee-cup.png"></div>
            <figcaption>
                <h3>Good Morning</h3>
                <p>Lorem ipsum Qui mollit sit elit Ut.</p>
            </figcaption>
        </figure>
    </div>
    <div class="pricing-carte clearfix scrollbar" id=style-1>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Cappucino</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Irish Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Brandy Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Cafe Mendoza</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Keoke Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / English Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Calypso Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Jamaican Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Shin Shin Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Baileys Irish Cream Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
        <div class=cuisine-wrapper>
            <div class="cuisine clearfix">
                <div class=card-left>
                    <div class=cuisine-name>01 / Monk's Coffee</div>
                    <div class=cuisine-detail>Lorem ipsum Culpa in ut aute dolor minim irure elit pariatur mollit dolor
                    </div>
                </div>
                <div class=card-right>
                    <div class=cuisine-price>$12.99</div>
                    <div class=cuisine-heart><i class="fa fa-heart"></i>10</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="order-types-available row">
    <div class=row>
        <div class=order-type-wrapper>
            <div class="order-type type-one">
                <figure class=clearfix>
                    <div class=img-holder><img alt="" src=~images/order-type1.png></div>
                    <figcaption>
                        <h3><span>Strong</span> afternoon</h3>
                        <a class="button-primary btn" href=#>Order Now</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class=order-type-wrapper>
            <div class="order-type type-two">
                <figure>
                    <div class=img-holder><img alt="" src=~images/order-type2.png></div>
                    <figcaption>
                        <h3><span>Cookie</span> & more</h3>
                        <a class="button-primary btn" href=#>Order Now</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class=order-type-wrapper>
            <div class="order-type type-three">
                <figure>
                    <div class=img-holder><img alt="" src=~images/order-type3.png></div>
                    <figcaption>
                        <h3><span>Special</span> flavors</h3>
                        <a class="button-primary btn" href=#>Order Now</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="book-order row">
    <div class=book-details>
        <h3>Book your coffee now</h3>
        <h5>Call NOW our toll free number</h5>
    </div>
    <div class=order-number>
        <h2>+0987654321</h2>
    </div>
</div>