@{
    ViewData["Title"]="Message order success";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid p-0">
    <div class="alert alert-success">
  <strong>Thành công!</strong> Bàn đã được đặt.
</div>
</div>



